.DS_Store/
*/.DS_Store
.idea
services/cubetech/package-lock.json
services/cubetech/node_modules/*
services/auth/package-lock.json
services/auth/node_modules/*
services/whatsapp/package-lock.json
services/whatsapp/node_modules/*
package-lock.json
./services/auth/node_modules
./services/cubetech/node_modules
./services/whatsapp/node_modules
node_modules
./.idea.DS_Store
.DS_Store
./node_modules