<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" @click="reloadData" style="cursor:pointer;">
            <img src="https://cdn.subspace.money/whatsub_images/Frame+2358.png" alt=""
                 width="30" height="24" class="d-inline-block align-text-top">
            Subspace
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto ">
                <li class="nav-item" v-for="nav in navs" v-if="nav.sections===undefined">
                    <a class="nav-link active" aria-current="page"
                       :href="nav.path" style="cursor: pointer;">{{nav.name}}</a>
                </li>
                <li class="nav-item dropdown" v-for="nav in navs" v-if="nav.sections!==undefined">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{nav.name}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a v-for="section in nav.sections" class="dropdown-item" :href="section.path">{{section.name}}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       @click="()=>{localStorage.clear(); location.href='/login?redirect='+window.location.pathname;}"
                       style="cursor: pointer;">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
